.square{
	height: 25px;
	width: 25px;
	background: red;
	margin: 1px;
}

.coloredSquare{
	background: blue;
	margin: 1px;
}

.button{
	clear: both;
	color: black;
  	border-radius: 4px;
   	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
   	margin-left: 460px;
}
